@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white: #fffdf8;
    --black: #1c1c1c;
    --purple: #ab9ff2;
    --lilac: #e2dffe;
    --yellow: #ffd13f;
    --blue: rgb(61, 129, 255);
    --midnightPurple: #3c315b;
    --pink: #ff2833;
    --green: #2ec08b;
    --moonYellow: #ffffc4;
    --red: #ff4f6d;
    --grey: #e8e6e2;
    --dark1: #161618;
    --dark3: #232326;
    --dark4: #28282c;
    --dark5: #2e2e32;
    --dark6: #34343a;
    --dark8: #5842c3;
    --dark9: #706f78;
    --dark10: #7e7d86;
    --dark11: #a09fa6;
    --dark12: #ededef;
    --light3: #f4f2f4;
    --light5: #e9e8ea;
    --light6: #e4e2e4;
    --light9: #908e96;
    --light10: #86848d;
    --darkViolet4: #2c2250;
    --darkViolet6: #392c72;
    --violet1: #fdfcfe;
    --violet3: #f5f2ff;
    --violet4: #ede9fe;
    --violet6: #d7cff9;
    --violet8: #aa99ec;

    --themeCardBgColor: var(--light3);
    --themeCardShadow: var(--light6);

    --themeTextColor: var(--black);
    --themeTitleColor: var(--midnightPurple);
    --themeTitleBgColor: var(--violet4);
    
    --themeSubNavBgColor: var(--violet1);
    --themeNavColor1: var(--violet4);
    --themeNavColor2: var(--violet3);

    --themeFooterBgColor: var(--light3);
    --themeFooterInputColor: var(--white);

    --themeScrollBar: var(--light6);

    --themeLikeColor: var(--red);
    --themeRecommendColor: var(--blue);
}

@keyframes scaleUp {
  from {
  }

  to {
    font-size: 1.3rem;
  }
}

@keyframes scaleDown {
  from {
    font-size: 1.3rem;
  }

  to {
    font-size: 0rem;
  }
}

.App {
  // font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}


// down -> up 화면 전환
.bottom {
  visibility: hidden;
  transform: translateY(50rem);
}

.up {
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s ease all;
}

//fade-in 화면 전환
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: 0.5s ease all;
}


// navbar style
#navbar {
  padding: 1rem 3rem;
  background-color: rgba($color: #000000, $alpha: 0) !important;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 1);

  @media (min-width: 768px) {
    .container, .container-md, .container-sm {
      max-width: 2000px;
    }
  }

  .main-bar {
    margin-left: 3rem;
    .nav-link {
      width: 9rem;
      transition: 0.3s ease-in all;
      
      .menu-icon {
        position: relative;
        bottom: 0.1rem;
        font-size: 0;
        margin-right: 0.3rem;
        transition: 0.3s ease-in all;
      }
      
      &:hover {
        background-color: var(--themeNavColor1);
    
        .menu-icon {
          animation: scaleUp 0.3s linear forwards;
        }
      }
      &:not(:hover) {
        .menu-icon {
          animation: scaleDown 0.3s linear forwards;
        }
      }
    }
  }

  .side-bar {
    .likes {
      width: 3rem;
      height: 3rem;
      .icon {
        transition: 0.3s ease-in all;
        position: relative;
        bottom: 0.1rem;
        font-size: 1.3rem;
      }
    }
    .login {
      width: 7rem;
    }
    .nav-link {
      background-color: var(--themeNavColor1);
      transition: 0.3s ease-in all;
      &:hover {
        .icon {
          color: var(--themeLikeColor);
        }
        background-color:var(--themeNavColor2);
      }
    }
  }

  .nav-link {
    border-radius: 1.5rem;
    padding: 0.8rem;
    margin: 0.3rem 0.5rem;    
  }
}



// main page title
.main {
  margin: 3rem 1rem;
  display: flex;
  justify-content: center;
  
  .title {
    position: relative;
    text-align: left;
      div {
        margin: 0;
        padding: 0;
        line-height: 1.05;
        font-size: calc(10vw + 2rem)
      }
      img {
        width: 70%;
        position: absolute;
        top: calc(9vw + 0.5rem);
        left: calc(25vw + 0.5rem);
      }
  }
}



// img 슬라이더
.img-slider {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgb(247, 247, 247);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--themeScrollBar);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgb(247, 247, 247);
}

li {
  flex: 0 0 18rem;
  margin: 0 2rem 0 0;
}

li:last-of-type {
  margin: 0;
}


// Place Card
.place-card {
  text-align: left;
  width: 19em;
  background-color: var(--themeCardBgColor);
  border: none;
  border-radius: 1.3rem;
  .card-img {
    overflow: hidden;
    border-top-right-radius: 1.3rem;
    border-top-left-radius: 1.3rem;

    &:hover {
      img {
        transform: scale(1.2);
      }

    }
    img {
      transition: transform 0.3s;
      border-top-right-radius: 1.3rem;
      border-top-left-radius: 1.3rem;
      width: 100%;
    }
  }
}

.card-content {
  padding: 0.5rem 1rem;
  height: 6rem;
  margin: 1rem;
}

.box {
  font-size: 0.9rem;
  display: inline-block;
  position: relative;
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;

  .category-icon {
    position: absolute;
    top: 0.35rem;
    left: 0.4rem;
  }
  .recommend-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.6rem;
    color: var(--themeRecommendColor);
  }

  .like-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.6rem;
    color: var(--themeLikeColor);
  }

  .category, .recommend, .like {
    margin-left: 0.9rem;
  }
}


// Best5
#best5 {
  margin: 4rem 4rem;
}


// title
h3.title {
  color: var(--themeTitleColor);
  display: inline-block;
  background-color: var(--themeTitleBgColor);
  border-radius: 2rem;
  padding: 0.8rem 2rem;
  span {
    margin-left: 0.4rem;
  }
  margin-bottom: 2rem;
}
.best-icon {
  margin-left: -0.4rem;
}