@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'gt-flexa';
  src: url('./font/GT-Flexa/GT-Flexa-Extended-Black-Trial.woff2')
}

@font-face {
  font-family: 'ClimateCrisisKR-2010';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2010.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ClimateCrisisKR-1979';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-1979.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

:root {
    --white: #ffffff;
    --light:#f2f2f6;
    --green: #31df7f;
    --dark: #727272;
    --black: #282832;
    --blue: #288cff;
  

    --lightGreen: rgb(166, 247, 204);
    --moonYellow: #ffffc4;
    --red: #ff4f6d;
    --grey: #e8e6e2;
    --dark1: #161618;
    --dark3: #232326;
    --dark4: #28282c;
    --dark5: #2e2e32;
    --dark6: #34343a;
    --dark8: #5842c3;
    --dark9: #706f78;
    --dark10: #7e7d86;
    --dark11: #a09fa6;
    --dark12: #ededef;
    --light3: #f4f2f4;
    --light5: #e9e8ea;
    --light6: #e4e2e4;
    --light9: #908e96;
    --light10: #86848d;
    --darkViolet4: #2c2250;
    --darkViolet6: #392c72;
    --violet1: #fdfcfe;
    --violet3: #f5f2ff;
    --violet4: #ede9fe;
    --violet6: #d7cff9;
    --violet8: #aa99ec;


    --themeCardBgColor: var(--white);

    --themeTextColor: var(--black);
    --themeTitleColor: var(--black);
    --themeTitleBgColor: var(--green);
    
    --themeNavHover: var(--lightGreen);
    --themeSideNav: var(--green);
    --themeSideNavHover: var(--lightGreen);

    --themeFooterBgColor: var(--light3);
    --themeFooterInputColor: var(--midnightPurple);

    --themeScrollBarColor: var(--lightGreen);

    --themeLikeColor: var(--red);
    --themeRecommendColor: var(--blue);


    --themeIconColor: var(--black);
    --themeIconBgColor: var(--green);

    --boxBorderRadius: 2.5rem;
}

body {
    background-color: var(--light);
}

@keyframes scaleUp {
  from {
  }

  to {
    font-size: 1.3rem;
  }
}

@keyframes scaleDown {
  from {
    font-size: 1.3rem;
  }

  to {
    font-size: 0rem;
  }
}


.App {

  font-family: 'IBM Plex Sans KR', sans-serif;
  font-family: 'Manrope', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}



// down -> up 화면 전환
.bottom {
  visibility: hidden;
  transform: translateY(50rem);
}

.up {
  visibility: visible;
  transform: translateY(0);
  transition: 0.3s ease all;
}

//fade-in 화면 전환
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: 0.5s ease all;
}


// navbar style
#navbar {
  padding: 1rem 2rem !important;
  background-color: var(--white) !important;
  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 1);

  @media (min-width: 768px) {
    .container, .container-md, .container-sm {
      max-width: 2010px;
    }
  }

  margin: 2rem 2rem 0rem 2rem;
  border-radius: var(--boxBorderRadius) var(--boxBorderRadius) 0rem 0rem;

  .main-bar {
    .nav-link {
      width: 9rem;
      transition: 0.3s ease-in all;
      
      .menu-icon {
        position: relative;
        bottom: 0.1rem;
        font-size: 0;
        margin-right: 0.3rem;
        transition: 0.3s ease-in all;
      }
      
      &:hover {
        background-color: var(--themeNavHover);
    
        .menu-icon {
          animation: scaleUp 0.3s linear forwards;
        }
      }
      &:not(:hover) {
        .menu-icon {
          animation: scaleDown 0.3s linear forwards;
        }
      }
    }
  }

  .side-bar {
    .likes {
      width: 3rem;
      height: 3rem;
      .icon {
        transition: 0.3s ease-in all;
        position: relative;
        bottom: 0.1rem;
        font-size: 1.3rem;
      }
    }
    .login, .logout {
      width: 7rem;
    }
    .logout {
      background-color: var(--red) !important;
    }
    .nav-link {
      background-color: var(--themeSideNav);
      transition: 0.3s ease-in all;
      &:hover {
        .icon {
          color: var(--themeLikeColor);
        }
        background-color:var(--themeSideNavHover);
      }
    }
  }

  .nav-link {
    border-radius: 1.5rem;
    padding: 0.8rem;
    margin: 0.3rem 0.5rem;    
  }
}



// main page title
.main {
  background-color: white;

  display: flex;
  justify-content: center;
  
  .title {
    font-family: ClimateCrisisKR-1979;
    position: relative;
    text-align: left;
      div {
        margin: 0;
        padding: 0;
        line-height: 1.05;
        font-size: calc(7vw + 1.5rem)
      }
      img {
        width: 60%;
        position: absolute;
        top: calc(8vw + 0.5rem);
        left: calc(30vw + 1.5rem);
      }
  }
}



// img 슬라이더
.img-slider {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;

  .pl {
    border-radius: 2rem;
    border: 1px solid red;
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgb(247, 247, 247);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: var(--themeScrollBarColor);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgb(247, 247, 247);
}

li {
  flex: 0 0 18rem;
  margin: 0 2rem 0 0;
}

li:last-of-type {
  margin: 0;
}


// Place Card
.place-card {
  text-align: left;
  width: 19em;
  background-color: var(--themeCardBgColor);
  border: 0.7rem solid var(--white);
  border-radius: 1.3rem;
  .card-img {
    overflow: hidden;
    border-top-right-radius: 1.3rem;
    border-top-left-radius: 1.3rem;

    &:hover {
      img {
        transform: scale(1.2);
      }

    }
    img {
      transition: transform 0.3s;
      border-top-right-radius: 1.3rem;
      border-top-left-radius: 1.3rem;
      width: 100%;
    }
  }

}

.card-content {
  padding-top: 0.5rem;
  height: 5rem;
  margin: 1rem;
  h5 {
    // font-family: ClimateCrisisKR-2010;
    font-weight: 900;
  }
}


.box {
  font-size: 0.9rem;
  display: inline-block;
  position: relative;
  color: var(--white);
  background-color: var(--black);
  text-align: left;
  padding: 0.3rem 1rem;
  border-radius: 1rem;

  .category-icon {
    position: absolute;
    top: 0.35rem;
    left: 0.4rem;
  }
  .recommend-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.6rem;
    color: var(--themeRecommendColor);
  }

  .like-icon {
    position: absolute;
    top: 0.5rem;
    left: 0.6rem;
    color: var(--themeLikeColor);
  }

  .category, .recommend, .like {
    margin-left: 0.9rem;
  }
}


// Best5
#best5, #random, #footer {
  margin: 2rem;
  border-radius: var(--boxBorderRadius);
  padding: 2.5rem;
}

#best5 {
  background-color: var(--white);
}

#footer {
  background-color: var(--black);
  border-radius: 2rem;

  .require {
    display: flex;
    justify-content: center;
    text-align: right;
    form {
        width: 100%;

          textarea {
              font-weight: 600;
              border: none;
              border-radius: 1rem;
              width: 100%;
              font-size: 1.7rem;
              padding: 1rem;
              resize: none;
            }
          
            input {
              margin-top: 1rem;
              font-weight: 700;
              width: 10rem;
              position: inline-block;
              border-radius: 2rem;
              background-color: var(--green);
              border: none;
              height: 3rem;
            }                                  
        }
  
  }

  .info {
    margin: 2rem 0rem 0rem;
    text-align: right;
    color: white;
    .info-icon {
      margin-right: 0.5rem
    }
  }
}

h1 {
  font-size: 3rem;
}

// title
h3.title {
  font-family: 'gt-flexa', sans-serif;
  font-size: 2.5rem;
  border-radius: 2rem;
  span {
    margin-left: 0.4rem;
  }

  // .icon {
  //   margin-left: -0.4rem;
  // }
}



// Random


#random {
  p {
    color: var(--white);
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  h3 {
    color: var(--green);
  }
  background-color: var(--black);
  .container {
    max-width: 60rem;
  }
  .button {
    position: relative;
    background-color: var(--green);
    border: 1px solid var(--green);
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
    display: inline-block;
    margin: 1rem;
    margin-top: 2rem;

    .icon {
      color: var(--themeIconColor);
      position: absolute;
      font-size: 3rem;
      top: 0.8rem;
      left: 1.4rem;
      transition: 0.4s all;
    }
  }
  .memoji2 {
    position: absolute;
    width: 90%;
    max-width: 18rem;
    left: 0rem;
    top: 1.5rem;
  }
}

.retry-btn {
  &:hover {
    .icon {
      transform: rotate(360deg);
    }
  }
}

.like-btn {
    &:hover {
      .icon {
        color: var(--themeLikeColor) !important;
      }
    }
}


// flex 중앙 정렬

.center {
  display: flex;
  justify-content: center;
}



textarea::placeholder {
  //font-family: ClimateCrisisKR-1979;
}

#login, #join {
  background-color: var(--white);
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(20vw + 15rem);
    h2 {
      font-family: gt-flexa;
      margin-bottom: 1rem;
    }
    input, button {
      font-weight: 700;
      margin: 0.3rem;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: 1px solid var(--dark);
    }
    button {
      border: none;
      height: 3rem;
    }
    .login {
      margin-top: 1rem;
      background-color: var(--green);
    }
    .join {
      background-color: var(--black);
      color: var(--white)
    }
    p {
      margin-top: 0.8rem;
    }

    .social-login {
      margin-top: 1rem;
    }

    img {
      width: 3rem;
    }
  }
}

#join {
  button {
    background-color: var(--black) !important;
    color: var(--white);
  }
}

.first {
  background-color: var(--white);
  border-radius: 0rem 0rem var(--boxBorderRadius) var(--boxBorderRadius);
  padding: 2rem 1rem 6rem 1rem;
  margin: 0rem 2rem;
}

#place {
  padding: 2rem 7rem;
  .title {
    font-size: 2.2rem;
    font-family: ClimateCrisisKR-1979;
    margin-bottom: 2rem;
  }
  .row {
    --bs-gutter-x: 0 !important;
  }
  .p-right {
    padding-right: 0.5rem;
  }

  .p-left {
    padding-left: 0.5rem;
  }

  .col-box {
    margin-bottom: 1rem;
  }
  .menu {
    // font-family: 'apple sd gothic neo', san;
    background-color: var(--black);
    color: var(--white);
    border-radius: 2rem;
    border: 1px solid var(--dark);
    padding: 2.5rem;
    h3 {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
      // font-family: ClimateCrisisKR-1979;
    }
    .row {
      align-items: center;
      margin-bottom: 0.5rem;
    }
    .menu-name {
      overflow: hidden;
      white-space: nowrap;
      font-size: 1.3rem;
    }
    .menu-price {
      font-size: 1.1rem;
    }
  }
  .img {
    border-radius: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .icons {
    margin: 3rem auto 1rem;
    max-width: 28rem;
      .col {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin-top: 0.5rem;
          font-size: 1.3rem;
        }

        .icon {
            position: relative;
            background-color: var(--green);
            border-radius: 7rem;
            width: 6rem;
            height: 6rem;
            font-size: 3rem;

            .recommend-icon {
              position: absolute;
              top: 1.5rem;
              left: 1.5rem;
            }
            .unrecommend-icon {
              position: absolute;
              top: 1.7rem;
              left: 1.5rem;
            }
            .like-icon {
              position: absolute;
              top: 1.65rem;
              left: 1.5rem;
            }
          }
      }
  }

}


@media all and (max-width: 768px) {
  #place {
    padding: 2rem 4rem !important;
  }

  .p-right,
  .p-left {
    padding: 0 !important;
  }

  .icons {
    width: 90%;
    .icon {
      width: 4.5rem !important;
      height: 4.5rem !important;
      font-size: 2rem !important;

      .recommend-icon {
        top: 1.25rem !important;
        left: 1.3rem !important;
      }

      .unrecommend-icon {
        top: 1.5rem !important;
        left: 1.3rem !important;
      }

      .like-icon {
        top: 1.4rem !important;
        left: 1.25rem !important;
      }
    }
  }
}